<form>
  <div class="mb-3">
    <label for="exampleInputName" class="form-label">Name</label>
    <input
      name="userName"
      type="name"
      class="form-control"
      id="exampleInputName"
      aria-describedby="nameHelp"
      required
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputAge" class="form-label">Age</label>
    <input
      name="userAge"
      type="number"
      class="form-control"
      id="exampleInputAge"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary" value="Отправить">
    Submit
  </button>
</form>
