<form>
  <div class="mb-3">
    <label for="exampleInputName" class="form-label">Name</label>
    <input
      type="name"
      class="form-control"
      id="exampleInputName"
      aria-describedby="nameHelp"
      required
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputAge" class="form-label">Age</label>
    <input type="number" class="form-control" id="exampleInputAge" required />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
